<div class="container">
  <h1 class="title"> Sign up form</h1>


<form (ngSubmit)="onSignin()" #signinForm="ngForm">
    <label for="email_id">Email:</label>
    <input
      id="email_id"
      name="email_id"
      [(ngModel)]="credentials.email_id"
      type="email"
      required
    />

    <label for="password">Password:</label>
    <input
      id="password"
      name="password"
      [(ngModel)]="credentials.password"
      type="password"
      required
    />

    <button type="submit">Sign In</button>
  </form>
  </div>
  